<!-- Following Menu -->
<div class="ui grey inverted large top fixed hidden menu" id="navhide">
  <div class="ui container">
    <a class="active item" href="#home">about</a>
    <a class="item" href="#publication">publication</a>
    <a class="item" href="#teaching">teaching</a>
    <a class="item" href="#links">links</a>
  </div>
</div>

<!-- Sidebar Menu -->
<!-- <div class="ui vertical grey inverted sidebar menu" id="navside">
  <a class="active item" href="#home">about</a>
  <a class="item" href="#publication">publication</a>
  <a class="item" href="#teaching">teaching</a>
  <a class="item" href="#links">links</a>
</div> -->
<!-- Page Contents -->
<!-- <div class="pusher"> -->
<div class="ui grey inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui grey borderless large secondary inverted menu" id="navtop">
      <!-- <a class="toc item">
        <i class="sidebar icon"></i>
      </a> -->
      <a class="active item" href="#home">about</a>
      <a class="item" href="#publication">publication</a>
      <a class="item" href="#teaching">teaching</a>
      <a class="item" href="#links">links</a>
    </div>
  </div>
</div>
<div class="ui grey inverted vertical masthead center aligned segment">
  <div class="ui text container">
   <h1 class="ui inverted header">
     Ziqiang Wei
   </h1>
   <h2>Statistical minds of neuroscience</h2>
   <h2><i>[postdoc, computational and statistical neuroscientist]</i></h2>
 </div>
</div>
<div class="ui container">
  <div class="ui basic segment" id="example2">
    <!-- <div class="ui right attached rail">
      <div class="ui sticky" style="width: 272px !important; height: 262.531px !important; left: 0px; top:50px">
        {% include sidebar.html%}
      </div>
    </div> -->
    <div class="ui container">
      <div class="ui vertical stripe quote segment">
        <div class="ui vertical segment" id="home">
          {% include research.html %}
        </div>
        <div class="ui vertical segment" id="publication">
          {% include publication.html %}
        </div>
        <div class="ui vertical segment" id="teaching">
          {% include teaching.html %}
        </div>
        <div class="ui vertical segment" id="links">
          {% include links.html %}
        </div>
      </div>
    </div>
  </div>
</div>
