{% assign news_items = site.data.news.items | sort: 'date' | reverse %}
<div class="ui bulleted list">
  {% for item in news_items limit: include.limit %}
  <div class="item">
    [{{ item.date | date: "%Y/%m/%d" }}]
    {% if item.url %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% else %}
    {{ item.title }}
    {% endif %}
    {% if item.links %}
      {% for link in item.links %}
      <a class="resource-link" href="{{ link.url }}">
        {% case link.icon %}
          {% when 'twitter' %}{% include icon.html name='twitter square' classes='large' %}
          {% when 'instagram' %}{% include icon.html name='instagram' classes='large' %}
          {% else %}[{{ link.label }}]
        {% endcase %}
      </a>
      {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
</div>
