{% assign news_items = site.data.news.items | sort: 'date' | reverse %}
<div class="ui bulleted list">
  {% for item in news_items limit: include.limit %}
  <div class="item">
    [{{ item.date | date: "%Y/%m/%d" }}]
    {% if item.url %}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% else %}
    {{ item.title }}
    {% endif %}
    {% if item.links %}
      {% for link in item.links %}
      <a class="resource-link" href="{{ link.url }}">
        {% if link.icon %}{% include icon.html name=link.icon classes='large' %}{% else %}[{{ link.label }}]{% endif %}
      </a>
      {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
</div>
