{% assign profile = site.data.profile %}
<div class="ui grey inverted large top fixed hidden menu" id="navhide">
  <div class="ui container">
    <a class="active item" href="#home">about</a>
    <a class="item" href="{{ site.baseurl }}news.html">news</a>
    <a class="item" href="#publication">publication</a>
    <a class="item" href="#teaching">teaching</a>
    <a class="item" href="{{ site.baseurl }}github_TOC.html">git toc</a>
    <a class="item" href="#links">links</a>
  </div>
</div>

<div class="ui grey inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui grey borderless large secondary inverted menu" id="navtop">
      <a class="active item" href="#home">about</a>
      <a class="item" href="{{ site.baseurl }}news.html">news</a>
      <a class="item" href="#publication">publication</a>
      <a class="item" href="#teaching">teaching</a>
      <a class="item" href="{{ site.baseurl }}github_TOC.html">git toc</a>
      <a class="item" href="#links">links</a>
    </div>
  </div>
</div>
<div class="ui grey inverted vertical masthead center aligned segment">
  <div class="ui text container">
   <h1 class="ui inverted header">
     {{ profile.name }}
    </h1>
    <h2>{{ profile.headline }}</h2>
    <h2><i>[{{ profile.role }}]</i></h2>
 </div>
</div>
<div class="ui container">
  <div class="ui basic segment" id="example2">
    <div class="ui container">
      <div class="ui vertical stripe quote segment">
        <div class="ui vertical segment" id="home">
          {% include research.html %}
        </div>
        <div class="ui vertical segment" id="publication">
          {% include publication.html %}
        </div>
        <div class="ui vertical segment" id="teaching">
          {% include teaching.html %}
        </div>
        <div class="ui vertical segment" id="links">
          {% include links.html %}
        </div>
      </div>
    </div>
  </div>
</div>
