<!-- contents -->
<h2 class="ui header">Research portfolio</h2>
<div class="ui four column stackable grid">
  <div class="column">
    <div class="ui segment">
      <h3>State-space models</h3>
      <img class="ui large rounded image" src="/imgs/State_space.svg">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <h3>Methods and Technologies</h3>
      <a href="http://im-phys.org/" class="ui large rounded image">
        <img src="/imgs/Methods_Tech.svg">
      </a>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <h3>Large-scale Neural DB</h3>
      <img class="ui large rounded image" src="/imgs/Large_scale_DB.svg">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <h3>Spike neuronal network</h3>
      <img class="ui large rounded image" src="/imgs/Spike_neural_network.png">
    </div>
  </div>
</div>
