<!-- contents -->
<div class="ui internally celled grid">
  <div class="twelve wide column">
    <h2 class="ui header">Research portfolio</h2>
  </div>
  <div class="four wide column">
    <div class="ui list">
      <div class="item">
        <a href="https://www.linkedin.com/in/ziqiang-wei-8566a167/">
          <i class="large linkedin icon"></i> curriculum vitae
        </a>
      </div>
      <div class="item">
        <a href="https://scholar.google.com/citations?user=S-9jH7oAAAAJ&hl=en">
          <i class="large chart bar icon"></i> google scholar profile
        </a>
      </div>
      <div class="item">
        <a href="https://github.com/zqwei">
          <i class="large github icon"></i> github
        </a>
      </div>
      <div class="item">
        <a href="#">
          <i class="large envelope icon"></i> weiz (a) janelia (dot) hhmi (dot) org
        </a>
      </div>
      <div class="item">
        <a href="https://twitter.com/zq_wei">
          <i class="large twitter icon"></i> @ zq_wei
        </a>
      </div>
    </div>
  </div>
</div>
