{% assign src = include.name | default: 'link-45deg' %}
{% case src %}
  {% when 'bar-chart' %}{% assign bi = 'bar-chart-line' %}
  {% when 'chart-bar' %}{% assign bi = 'bar-chart-line' %}
  {% when 'chart bar' %}{% assign bi = 'bar-chart-line' %}
  {% when 'github' %}{% assign bi = 'github' %}
  {% when 'envelope' %}{% assign bi = 'envelope' %}
  {% when 'twitter' %}{% assign bi = 'twitter' %}
  {% when 'twitter square' %}{% assign bi = 'twitter' %}
  {% when 'instagram' %}{% assign bi = 'instagram' %}
  {% when 'youtube' %}{% assign bi = 'youtube' %}
  {% when 'archive' %}{% assign bi = 'archive' %}
  {% when 'chrome' %}{% assign bi = 'globe' %}
  {% when 'comments' %}{% assign bi = 'chat' %}
  {% else %}{% assign bi = src %}
{% endcase %}
<i class="bi bi-{{ bi }}{% if include.classes %} {{ include.classes }}{% endif %}" aria-hidden="true"></i>
