{% assign icon_name = include.name | default: 'linkify' %}
{% case icon_name %}
  {% when 'comments' %}{% assign icon_name = 'comments outline' %}
  {% when 'chart bar' %}{% assign icon_name = 'chart bar' %}
  {% when 'chart-bar' %}{% assign icon_name = 'chart bar' %}
  {% when 'bar-chart' %}{% assign icon_name = 'chart bar' %}
  {% when 'chrome' %}{% assign icon_name = 'chrome' %}
  {% when 'archive' %}{% assign icon_name = 'archive' %}
  {% when 'twitter square' %}{% assign icon_name = 'twitter square' %}
  {% when 'twitter' %}{% assign icon_name = 'twitter' %}
  {% when 'instagram' %}{% assign icon_name = 'instagram' %}
  {% when 'envelope' %}{% assign icon_name = 'envelope' %}
  {% when 'github' %}{% assign icon_name = 'github' %}
  {% when 'youtube' %}{% assign icon_name = 'youtube' %}
{% endcase %}
<i class="{% if include.classes %}{{ include.classes }} {% endif %}{{ icon_name }} icon" aria-hidden="true"></i>
