<div class="ui internally celled stackable grid">
  <div class="four wide column">
    <h2 class="ui header">Links</h2>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      <div class="item">
        <h3 class="ui black header"> Websites </h3>
          <div class="ui bulleted list">
            <div class="item">
              <a href="http://im-phys.org/">
                http://im-phys.org/
              </a>
            </div>
          </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Git Repos </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="{{ site.baseurl }}github_TOC.html">
              Git TOC
            </a>
          </div>
          <div class="item">
            <a href="{{ site.baseurl }}useful_repo_links.html">
              Collection of useful github repos
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Data sharing </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="http://im-phys.org/">
              http://im-phys.org/data
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Methods and technologies </h3>
      </div>
    </div>
  </div>
</div>
