<div class="ui internally celled stackable grid">
  <div class="four wide column">
    <h2 class="ui header">Links</h2>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      <div class="item">
        <h3 class="ui black header"> Websites </h3>
          <div class="ui bulleted list">
            <div class="item">
              <a href="http://im-phys.org/">
                http://im-phys.org/
              </a>
            </div>
          </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Git Repos </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="{{ site.baseurl }}github_TOC.html">
              Git TOC
            </a>
          </div>
          <div class="item">
            <a href="{{ site.baseurl }}useful_repo_links.html">
              Collection of useful github repos
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Data sharing </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="http://im-phys.org/data">
              http://im-phys.org/data
            </a>
          </div>
          <div class="item">
            Wei, Z., Inagaki, H., Li, N., Svoboda, K., & Druckmann, S. (2018). 
            Simultaneous extracellular electrophysiology data.
            <a href="https://figshare.com/articles/Simultaneous_extracellular_electrophysiology_data/7372898">
              [DOI: 10.6084/m9.figshare.7372898]
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Methods and technologies </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="https://github.com/zqwei/Epoch-Dependent-LDS-Fit">
              Epoch-Dependent Linear Dynamical Systems
            </a>
            <a href="https://doi.org/10.5281/zenodo.1403158"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.1403158.svg" alt="DOI"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
