<div class="ui internally celled stackable grid">
  <div class="four wide column">
    <h2 class="ui header">Links</h2>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      {% for category in site.data.links.categories %}
      <div class="item">
        <h3 class="ui black header">{{ category.title }}</h3>
        <div class="ui bulleted list">
          {% for item in category.items %}
          <div class="item">
            {% if item.title and item.url %}
            {% if item.url contains '://' %}
              {% assign link_url = item.url %}
            {% else %}
              {% assign link_url = item.url | relative_url %}
            {% endif %}
            <a href="{{ link_url | strip }}">{{ item.title }}</a>{% if item.description %}: {{ item.description }}{% endif %}
            {% elsif item.description %}
            {{ item.description }}
            {% endif %}
            {% if item.resources %}
              {% for resource in item.resources %}
              <a class="resource-link" href="{{ resource.url }}">[{{ resource.label }}]</a>
              {% endfor %}
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
