<div class="ui bulleted list">
  <div class="item">
    [2023/05/02] Faces of Cell (Cell press)
    <a href="https://twitter.com/CellCellPress/status/1653342294983200768?s=20">
      <i class="large twitter square icon"></i>
    </a>
    <a href="https://www.instagram.com/p/CrlfTj-tRcZ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==">
      <i class="large instagram icon"></i>
    </a>
  </div>
  <div class="item">
    [2023/05/09] Call for application of Matlab community toolbox training projects: EDLDS Modeling with MATLAB (Wei et al., 2019)
    <a href="https://www.incf.org/2023/matlab-community-toolbox-training-projects">
      [Link]
    </a>
  </div>
</div>
