{% if paginator.total_pages > 1 %}
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center mb-0">
    {% if paginator.page == 2 %}
      <li class="page-item"><a href="/" class="page-link" aria-label="Previous">&laquo;</a></li>
    {% elsif paginator.previous_page %}
      <li class="page-item"><a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.previous_page }}" class="page-link" aria-label="Previous">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
      {% elsif page == 1 %}
        <li class="page-item"><a href="/" class="page-link">{{ page }}</a></li>
      {% else %}
        <li class="page-item"><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li class="page-item"><a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.next_page }}" class="page-link" aria-label="Next">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
