<!-- contents -->
{% assign profile = site.data.profile %}
<div class="ui internally celled stackable grid">
  <div class="four wide column">
    <h2 class="ui header">Publications</h2>
    <h3 class="ui header">
      <a href="{{ profile.scholar_url }}">
        <i class="large chart bar icon"></i> Google scholar profile
      </a>
    </h3>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      {% for category in site.data.publications.categories %}
      <div class="item">
        <h3 class="ui black header"> {{ category.title }} </h3>
        <div class="ui bulleted list">
          {% for publication in category.items %}
          <div class="item">
            {% capture citation %}
              {% if publication.authors %}{{ publication.authors }}{% endif %}{% if publication.year %} ({{ publication.year }}){% endif %}{% if publication.authors or publication.year %}.{% endif %}
              {{ publication.title }}{% if publication.status %} ({{ publication.status }}){% endif %}.{% if publication.venue %} {{ publication.venue }}.{% endif %}
            {% endcapture %}
            {% assign citation = citation | strip %}
            {% if publication.url %}
            <a href="{{ publication.url }}">
              {{ citation }}
            </a>
            {% else %}
              {{ citation }}
            {% endif %}
            {% if publication.resources %}
              {% for resource in publication.resources %}
              <a href="{{ resource.url }}">
                <i class="{{ resource.icon }} icon"></i> [{{ resource.label }}]
              </a>
              {% endfor %}
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
