<!-- contents -->
<div class="ui internally celled stackable grid">
  <div class="four wide column">
    <h2 class="ui header">Publications</h2>
    <h3 class="ui header">
      <a href="https://scholar.google.com/citations?user=S-9jH7oAAAAJ&hl=en">
        <i class="large chart bar icon"></i> google scholar profile
      </a>
    </h3>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      <div class="item">
        <h3 class="ui black header"> Statistical neuroscience </h3>
          <div class="ui bulleted list">
            <div class="item">
              <a href="">
              Sensorimotor processing in the zebrafish dorsal raphe nucleus. (in preparation)
              </a>
            </div>
            <div class="item">
              <a href="https://nbdt.scholasticahq.com/article/13476-nonlinear-evolution-via-spatially-dependent-linear-dynamics-for-electrophysiology-and-calcium-data">
              Hernandez, D., Moretti, A. K., Saxena, S., <b>Wei, Z.</b>, Cunningham, J., & Paninski, L. (2020).
              Nonlinear evolution via spatially-dependent linear dynamics for electrophysiology and calcium data. NBDT 1(7).
              </a>
            </div>
            <div class="item">
              <a href="https://www.cell.com/cell/fulltext/S0092-8674(19)30958-4">
                Wan, Y., <b>Wei, Z.</b>, Looger, L.L., Koyama, M. et al. (2019).
                Single-cell reconstruction of emerging population activity in an entire developing circuit.
                Cell 179(2).
              </a>
              <a href="https://github.com/zqwei/Zebrafish_spinal_cord_development">
                <i class="github icon"></i> git repo
              </a>
              <a href="https://www.sciencedirect.com/science/article/pii/S0092867419310128">
              <i class="comments icon"></i> preview
              </a>
              <a href="https://www.nature.com/articles/d41586-019-03492-6">
              <i class="comments icon"></i> Nature news & views
              </a>
              <a href="https://www.sciencedaily.com/releases/2019/09/190926141732.htm">
              <i class="newspaper icon"></i> News
              </a>
            </div>
            <div class="item">
              <a href="https://www.nature.com/articles/s41467-018-08141-6">
              <b>Wei, Z.</b>, Inagaki, H., Li, N., Svoboda, K., & Druckmann, S. (2019).
              An orderly single-trial organization of population dynamics in premotor
              cortex predicts behavioral variability. Nature Communications 10(216).
              </a>
              <a href="https://github.com/zqwei/TLDS_ALM_Data">
                <i class="github icon"></i> git repo
              </a>
              <a href="https://www.biorxiv.org/content/early/2018/07/25/376830">
                <i class="archive icon"></i> [Early version]
              </a>
            </div>
            <div class="item">
              <a href="https://openreview.net/forum?id=SJMO2iCct7">
              Hernandez, D., Moretti, A. K., <b>Wei, Z.</b>, Saxena, S., Cunningham, J., & Paninski, L. (2018).
              A novel variational family for hidden nonlinear Markov models. arXiv:1811.02459.
              </a>
            </div>
          </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Computational neuroscience </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="https://www.sciencedirect.com/science/article/pii/S0092867422014660">
              Yang, E., Zwart, M.F., James, B., Rubinov, M., <b>Wei, Z.</b>, & et al. (2022).
              A brainstem integrator for self-location memory and positional homeostasis in zebrafish. Cell, 185(26), 5011-5027.
            </a>
            <a href="https://www.youtube.com/watch?v=RQzRmHeNI3g">
              <i class="youtube icon"></i> talk
            </a>
            <a href="https://www.biorxiv.org/content/10.1101/2021.11.26.468907v1">
                <i class="archive icon"></i> [Early version]
            </a>
          </div>
          <div class="item">
            <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006535">
            Arkhipov, A., Gouwens, N. W., Billeh, Y. N., Gratiy, S., Iyer, R.,
            <b>Wei, Z.</b>, & et al. (2018). Visual physiology of the layer 4
              cortical circuit in silico. PLOS Computational Biology 14(11): e1006535.
            </a>
            <a href="https://github.com/AllenInstitute/arkhipov2018_layer4">
              <i class="github icon"></i> git repo #1
            </a>
            <a href="https://github.com/zqwei/LIF_Vis_model">
              <i class="github icon"></i> git repo #2
            </a>
          </div>
          <div class="item">
            <a href="https://www.physiology.org/doi/abs/10.1152/jn.00793.2014">
            <b>Wei, Z.</b>, & Wang, X. J. (2015). Confidence estimation as a stochastic
            process in a neurodynamical system of decision making. Journal of
            neurophysiology, 114(1), 99-113.
            </a>
            <a href="https://github.com/zqwei/Multi-item-Working-Memory-Network">
              <i class="github icon"></i> git repo
            </a>
          </div>
          <div class="item">
            <a href="http://www.jneurosci.org/content/32/33/11228.short">
            <b>Wei, Z.</b>, Wang, X. J., & Wang, D. H. (2012). From distributed resources
            to limited slots in multiple-item working memory: a spiking network model
            with normalization. Journal of Neuroscience, 32(33), 11228-11240.
            </a>
            <a href="https://github.com/zqwei/Multi-item-Working-Memory-Network">
              <i class="github icon"></i> [Git repo]
            </a>
            <a href="http://www.jneurosci.org/content/33/2/385">
              <i class="comments icon"></i> [Journal club]
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Methods and technologies </h3>
        <div class="ui bulleted list">
          <div class="item">
            <a href="https://doi.org/10.1038/s41586-023-05828-9">
            Zhang, Y., Rózsa, M., Liang, Y., Bushey, D., <b>Wei, Z.</b>, & et al. (2023).
            Fast and sensitive GCaMP calcium indicators for imaging neural populations. Nature.
            </a>
              <a href="https://www.biorxiv.org/content/10.1101/2021.11.08.467793v2">
                <i class="archive icon"></i> [Early version]
              </a>
              <a href="https://www.nature.com/articles/d41586-023-00704-y">
                <i class="comments icon"></i> [NEWS & VIEWS FORUM]
              </a>
              <a href="https://github.com/zqwei/Spike2Fluorescence_jGCaMP8">
                <i class="github icon"></i> [Git repo]
              </a>
          </div>
          <div class="item">
            <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1008198">
            <b>Wei, Z.</b>, Lin, B. J., Chen, T. W., Daie, K., Svoboda, K., & Druckmann, S. (2020).
            A comparison of neuronal population dynamics measured with calcium imaging and electrophysiology. PLOS Computational Biology, 16(9), e1008198.
            </a>
              <a href="https://www.biorxiv.org/content/10.1101/840686v1">
                <i class="archive icon"></i> [Early version]
              </a>
            <a href="im-phys.org">
              <i class="chrome icon"></i> website
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Books and reviews </h3>
        <div class="ui bulleted list">
        </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Multi-agents and statistical physics </h3>
          <div class="ui bulleted list">
            <div class="item">
              <a href="https://www.sciencedirect.com/science/article/pii/S0378437108010844">
              <b>Wei, Z.</b>, Hong, Y., & Wang, D. (2009). The phase diagram and the pathway of
              phase transitions for traffic flow in a circular one-lane roadway. Physica A:
              Statistical Mechanics and its Applications, 388(8), 1665-1672.
              </a>
            </div>
            <div class="item">
              <a href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.76.016105">
              Dahui, W., <b>Ziqiang, W.</b>, & Ying, F. (2007). Hysteresis phenomena
              of the intelligent driver model for traffic flow. Physical review E, 76(1), 016105.
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
