<!-- contents -->
<h2 class="ui header">Research portfolio</h2>
<div class="ui three column stackable padded grid">
  {% for item in site.data.research.items %}
  <div class="column">
    <div class="ui segment">
      <h3>{{ item.title }}</h3>
      {% if item.url %}
      <a href="{{ item.url }}" class="ui large rounded image">
        <img src="{{ item.image }}">
      </a>
      {% else %}
      <img class="ui large rounded image" src="{{ item.image }}">
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="column">
    <div class="ui segment" style="height:100%;">
      <h3>News</h3>
      {% include _news.html limit=5 %}
    </div>
  </div>
</div>
