<div class="ui internally celled grid">
  <div class="four wide column">
    <h2 class="ui header">Teaching</h2>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed divided list">
      <div class="item">
        <h3 class="ui black header"> Statistical neuroscience </h3>
          <div class="ui bulleted list">
            <div class="item">
              August 4-6, 2018: JHU Neuroscience bootcamp
              <a href="https://github.com/zqwei/explore-imaging-data">
                <i class="github icon"></i> git repo
              </a>
            </div>
            <div class="item">
              August 4-6, 2017: JHU Neuroscience bootcamp
              <a href="https://github.com/zqwei/explore_ephys_data">
                <i class="github icon"></i> git repo
              </a>
            </div>
          </div>
      </div>
      <div class="item">
        <h3 class="ui black header"> Computational neuroscience </h3>
        <div class="ui bulleted list">
          <div class="item">
            June 17 - 30, 2018: Summer Graduate School on Mathematical Analysis of Behavior (Janelia Research Campus)
            <a href="https://github.com/zqwei/Computational_neuroscience_tutorial">
              <i class="github icon"></i> git repo
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="item">
        <h3 class="ui black header"> Tools and technologies </h3>
        <div class="ui bulleted list">
        </div>
      </div> -->
    </div>
  </div>
</div>
