---
layout: default
type: page
---

<div class="ui grey inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui grey borderless large secondary inverted menu" id="navtop">
      <a class="active item" href="{{ site.baseurl }}index.html">back to home</a>
    </div>
  </div>
</div>
<div class="ui container">
  <div class="ui basic segment" id="example2">
    <div class="ui container">
      <div class="ui vertical stripe quote segment">
        <main>
          {{ content }}
        </main>
      </div>
    </div>
  </div>
</div>
